@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        .col {
            height: 125px;
            margin: 10px;
            transition: opacity 1s;
            opacity: 0.7;

        }
        .col-sm-2:hover {
            opacity: 1;
        }


        img {
            display: flex;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0%;
            left: 0;
        }

    .meer_maaltijden {
    border: none;
    color: white;
    border-radius: 10px;
    margin: 5px;
    width: 150px;
    height: 30px;
    }

        .row-1 {
            width: 107%;
            margin-left: -15px;
            margin-top: -20px;
            padding:0;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Hoofdpagina</h1>
        <h5>Lorem ipsum..</h5>
        <br />
        <div class="row">
            <div class="col-4">
                <h3>Verse gerechten</h3>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <button class="meer_maaltijden bg-primary" style="justify-content:end" type="button" onclick=""> Meer Maaltijden</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            
            <!--
        <div class="col-sm-2" style="background-color:gray">
            <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
        </div>
        <div class="col-sm-2" style="background-color:gray">
            <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
        </div>
        <div class="col-sm-2" style="background-color:gray">
            <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
        </div>
        <div class="col-sm-2" style="background-color:gray">
            <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <h10>
                    -------------------------<br />
                    -------------------------<br />
                </h10>
            </div>
            <div class="col">
                <h10>
                    -------------------------<br />
                    -------------------------<br />
                </h10>
            </div>
            <div class="col">
                <h10>
                    -------------------------<br />
                    -------------------------<br />
                </h10>
            </div>
            <div class="col">
                <h10>
                    -------------------------<br />
                    -------------------------<br />
                </h10>
            </div>
        </div>
        -->
        </div>
        <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-4">
                <h3>Diepvriesgerechten</h3>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <button class="meer_maaltijden bg-primary" style="justify-content:end" type="button" onclick=""> Meer Maaltijden</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded-top" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col rounded-top" style="background-color:gray">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="rounded" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row-1">
                    <div class="col rounded-bottom" style="background-color:lightgray; height:60px">
                        <h10>
                            ---------------------<br />
                            ---------------------<br />
                        </h10>
                    </div>
                </div>
                <div class="row" style="height: 50px;"></div>
            </div>
            <!--<div class="row">
            <div class="col-sm-2" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div class="col-sm-2" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div class="col-sm-2" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div class="col-sm-2" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div class="col-sm-2" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div class="row">
                <div class="col">
                    <h10>
                        -------------------------<br />
                        -------------------------<br />
                    </h10>
                </div>
                <div class="col">
                    <h10>
                        -------------------------<br />
                        -------------------------<br />
                    </h10>
                </div>
                <div class="col">
                    <h10>
                        -------------------------<br />
                        -------------------------<br />
                    </h10>
                </div>
                <div class="col">
                    <h10>
                        -------------------------<br />
                        -------------------------<br />
                    </h10>
                </div>
                <div class="col">
                    <h10>
                        -------------------------<br />
                        -------------------------<br />
                    </h10>
                </div>
            </div>
        </div>-->
            <br />
        </div>
        </div>
</body>