@page
@model MyMeals.Pages.MaaltijdenModel
@{
    ViewData["Title"] = "Maaltijden";
}

<style>
    .col-Gerecht {
        border-radius: 5px;
        height: 200px;
        margin: 10px;
        opacity: 0.7;
        transition: opacity 1s;
        background-color: gray;
        width: 300px;

        
    }
    .col-Beschrijving {
        margin: 10px;
        margin-top: 0px;
        font-size: 13px;
    }
    .col-Gerecht:hover {
        opacity: 1;
    }
    .col {
        margin: 0px;
    }
    
</style>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Maaltijden</h1>
            </div>
        </div>
        <br>
        @foreach (Models.Maaltijd item in Model.Maaltijden)
        {
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-Gerecht">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-Beschrijving">
                        <h7>@item.Naam</h7>
                    </div>
                </div>
            </div>
        }
    </div>
    
</body>


