@page
@model MyMeals.Pages.MaaltijdenModel
@{
    ViewData["Title"] = "Maaltijden";
}

<style>
    #Gerecht{
        border-radius: 5px;
        height: 150px;
        margin: 10px;
        opacity: 0.7;
        transition: opacity 1s;
    }
    #Beschrijving {
        margin: 10px;
        margin-top: 0px;
        font-size: 13px;
    }
    #Gerecht:hover{
        opacity: 1;
    }
    .col {
        margin: 0px;
    }
</style>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Maaltijden</h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
        </div>
        <div class="row">
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
        </div>
        <div class="row">
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
        </div>
        <div class="row">
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
        </div>
        <div class="row">
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
        </div>
        <div class="row">
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
        </div>
        <div class="row">
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
            <div id="Gerecht" class="col-sm-3" style="background-color:gray">
                <img src="prei-stamppot-met-kip-ketjap-418x315.jpg" type="submit" onclick="" />
            </div>
        </div>
        <div class="row">
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
            <div id="Beschrijving" class="col-sm-3">
                <h7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at sagittis tortor, porta lacinia massa. Cras eleifend</h7>
            </div>
        </div>

    </div>

</body>

