@page
@model MyMeals.Pages.OverOnsModel
@{
    ViewData["Title"] = "Over Ons";
}
<div class="container h-100 w-100">
	<div style="border: 3px ridge;" class="col mt-5">
		<div class="row">
			<div class="col-12 align-self-left">
				<h1>Over ons</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-11">
				<p>@Model.AboutUs</p>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-11">
				<p>@Model.Disclaimer</p>
			</div>
		</div>
	</div>
</div>