@page
@model MyMeals.Pages.OverOnsModel
@{
    ViewData["Title"] = "Over Ons";
}
<div class="container h-100 w-100">
	<div style="border: 3px ridge;" class="col mt-5">
		<div class="row">
			<div class="col-12 align-self-left">
				<h1>Over ons</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-11"
				<p>Wij zijn een groep jonge ondernemers die zagen hoe veel eten er dagelijks wordt weggegooid, terwijl om de hoek iemand daar
			nog een maaltijd aan zou kunnen hebben, en dit gebeurde alleen omdat mensen dit niet van elkaar wisten, dus bedachten we MyMeals,
			een platform waar té fanatieke koks en luie lekkerbekken elkaar kunnen ontmoeten, zodat geen enkele maaltijd verlroen hoeft te gaan.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-11"
				<p>
					Dit is een schoolopdracht uitgevoerd door groep 5 van klas 1B van de HBO-ICT opleiding van NHLstenden Leeuwarden.
			Meningen geuit in interviews en commentaren zijn puur opgenomen voor hun amusementswaarde en zijn niet afkomstig van NHLstenden of de
			makers van deze site.
				</p>
			</div>
		</div>
	</div>
</div>